#data-wrap-div{
    width: 20vw;
    height: 35vh;
    padding-right: 10px;
    float:right;
}
#data-pic{
    display: inline-block;
}

#data-idea{
    border: solid 2px #333333;
    border-radius: 2em;
    width:60vw;
    text-align: center;
}

#data-pig-truff{
   width: 20vw;
}

#data-space{
    height: 15vw;
}