#gal-content{
    
  

}
#gal-col{
    position: relative;
   left:1.7vw;
    
}

#gallery-container-pig,#gallery-container-truff,
#gallery-container-heart,#gallery-container-colors,
#gallery-container-prog,#gallery-container-calc{
    
    border: 2px #333333 solid;
    border-radius: 2em;
    text-align: center;
}

#gallery-container-pig:hover{
    border: 2px #333333 solid;
    border-radius: 2em;
    background-color:#E8E7E7;
}
#gallery-container-prog:hover{
    border: 2px #333333 solid;
    border-radius: 2em;
    background-color:#B9B9B9;
}
#gallery-container-calc:hover{
    border: 2px #333333 solid;
    border-radius: 2em;
    background-color:#FEC53B;
}
#gallery-container-truff:hover{
    border: 2px #333333 solid;
    border-radius: 2em;
    background-color:#D3E5D9;
}
#gallery-container-heart:hover{
    border: 2px #333333 solid;
    border-radius: 2em;
    background-color:#EAAFA9;
}
#gallery-container-colors:hover{
    border: 2px #EAAFA9 solid;
    border-radius: 2em;
    background-color:#333333;
    color:#EAAFA9;
}
#gallery-pig{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
#gallery-truff{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:20%;
    margin-bottom:20%;
    
}
#gallery-prog{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
#gallery-snout{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
#color-col{
    text-align: center;
    left:2.5vw;
}

#gallery-row{
    text-align: center;
}

#gallery-pic-header,#gallery-pic-header-hov{
    text-align: center;
    border-bottom: 2px #333333 solid;
}

#gallery-pic-header-hov{
    text-align: center;
    border-bottom: 2px #EAAFA9 solid;
}