#info-flow-pic{
    width:85vw;
padding-left:3vw;
}

#info-chart-div{

}

#info-wrap-div{
    width: 15vw;
    height: 30vh;
    padding-right: 0px;
    float:right;
}
#info-pic{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#info-idea{
    border: solid 2px #333333;
    border-radius: 2em;
    width:50vw;
    text-align: center;
    
}
#info-meet-pearl{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom:2vw;
}
#info-pig{
   width: 15vw;
   position: relative;
   bottom:2vw;
}
#info-space{
    height: 15vw;
}
#flow-space{
    height: 20vw;
}
#info-arch{
    position: relative;
    width: 85vw;
}

#info-prov-row{
   
   padding-left:50px;
}
#info-prov-header{
    text-align: center;
    border-bottom: 2px #333333 solid;
    margin-left: .5vw;
    margin-right: .5vw;
}
#header2-text{
    text-align: center;
    font-size: 2.4vw;
}
#header2-col{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left:6vw;
    }