#res-wrap-div{
    width: 32vw;
    height: 30vh;
    margin-bottom: 2vw;
    padding-right: 10px;
    /*
    background: MediumPurple;
    color: #111;
    border-radius: 50%;
    text-align: center;
    font-size: 90px;
    */
    float:right;
    /*shape-outside: ellipse();
    */
}

#res-pic{
    display: inline-block;
}
#res-idea{
    border: solid 2px #333333;
    border-radius: 2em;
    width:60vw;
    text-align: center;
    
}
#res-pc{
   width: 20vw;
   position: relative;
   bottom:2vw;
   
}
#res-space{
    height: 21vw;
}
#res-prov-header{
    text-align: center;
    border-bottom: solid 2px #333333;
    width: 100%;
    margin-left: .5vw;
    margin-right: .5vw;
    padding-top:2vw;
    
}